{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Profile Page</title>
  {% include 'head.html' %}
  <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
</head>
  <body>
  <style>
                      
      /*Profile Pic Start*/
      .picture-container{
          position: relative;
          cursor: pointer;
          text-align: center;
          width: 20%;
      }
      .picture{
          width: 106px;
          height: 106px;
          background-color: #999999;
          border: 4px solid #CCCCCC;
          color: #FFFFFF;
          border-radius: 50%;
          margin: 0px auto;
          overflow: hidden;
          transition: all 0.2s;
          -webkit-transition: all 0.2s;
      }
      .picture:hover{
          border-color: #2ca8ff;
      }
      .content.ct-wizard-green .picture:hover{
          border-color: #05ae0e;
      }
      .content.ct-wizard-blue .picture:hover{
          border-color: #3472f7;
      }
      .content.ct-wizard-orange .picture:hover{
          border-color: #ff9500;
      }
      .content.ct-wizard-red .picture:hover{
          border-color: #ff3b30;
      }
      .picture input[type="file"] {
          cursor: pointer;
          display: block;
          height: 100%;
          left: 0;
          opacity: 0 !important;
          position: absolute;
          top: 0;
          width: 100%;
      }

      .picture-src{
          width: 100%;
          
      }
      /*Profile Pic End*/
                
 </style>
    <div class="main-content">

      <!-- Header -->
      <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
        style="min-height:220px;background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center mb-4">
          <div class="row d-block m-auto">
            <div class="col-lg-12 col-md-12 text-center">
              <h1 class="display-2 text-white">{{ user.first_name}} {{ user.last_name}}</h1>
              <p class="text-white mt-0 mb-5">{{user.profile.bio}}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Page content -->
      <form enctype="multipart/form-data" method='post'>
        {% csrf_token %}
      <div class="container-fluid mt--7">
        <div class="row">
          <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
              <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                  <div class="card-profile-image">
                    <a href="#">
                      <img src={{user.profile.image.url}} class="rounded-circle">
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              </div>
              <div class="card-body pt-0 pt-md-4">
                <div class="text-center mt-md-5">
                  <h3>
                    {{user.first_name}} {{user.last_name}}<span class="h5 font-weight-light">@{{user.username}}</span>
                  </h3>
                  <div class="h5 font-weight-300">
                    {{user.email}}
                  </div>
                  <div class="row">
                  <div class="col">
                    <div class="card-profile-stats d-flex justify-content-center mt-md-2">
                      <div>
                        <span class="heading">10</span>
                        <span class="description">Posts</span>
                      </div>
                      <div>
                        <span class="heading">89</span>
                        <span class="description">Comments</span>
                      </div>
                    </div>
                  </div>
                </div>
                  <hr class="my-3">
                  <div>
                    <i class="ni education_hat mr-2"></i>{{user.profile.bio}}
                  </div>
                  <hr class="my-4">
                  <p>{{user.profile.about}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
              <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">My account</h3>
                  </div>
                </div>
              </div>
              <div class="card-body">
                  <h6 class="heading-small text-muted mb-4">My informations</h6>
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group focused">
                           {{user_form.first_name|as_crispy_field}}
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group focused">
                           {{user_form.last_name|as_crispy_field}}
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                           {{user_form.email|as_crispy_field}}
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group focused">
                           <label class="form-control-label" for="input-username">Username</label>
                          <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="{{ user.username }}" disabled>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="my-4">
                  <!-- Description -->
                  <h6 class="heading-small text-muted mb-4">Details</h6>
                  <div class="pl-lg-4">
                    <div class="form-group focused">
                         <div class="picture-container">
                          <div class="picture">
                          {{profile_form.image}}
                          </div>
                          <h6 class="">Choose Picture</h6>
                          <label for="id_image" class=" requiredField">
                           Change Profile Picture
                        </label>
                        </div>
                        <hr class="my-4">
                      {{ profile_form.bio|as_crispy_field }}
                      {{profile_form.about|as_crispy_field}}
                    </div>
                  </div>
                  <div class=" justify-content-between">
                    <a href='{% url 'home' %}' class="btn btn-md btn-default float-right mr-5">Save & Home</a>
                  </div>
                  <div class=" justify-content-between">
                    <button type='submit' class="btn btn-md btn-default float-right mr-4 ml-4">Save & Edit</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script>

    
    $(document).ready(function(){
      document.querySelector('.picture').innerHTML = `<img src="{{user.profile.image.url}}" class="picture-src" id="wizardPicturePreview" title="">
        <i style='font-size:20px;margin-top:6.4px;margin-left:-6px' class="fas fa-camera"></i>
      <input type="file" name="image" accept="image/*" id="id_image">`
    // Prepare the preview for profile picture
    $("#id_image").change(function(){
        readURL(this);
    });
    });
    function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
        }
        reader.readAsDataURL(input.files[0]);
    }
}
    
    </script>
<!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</body>
</html>
