{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
    <section class='pb-5'>
        <div class="container pb-4">
          <div class="p-4 bg-light">
            <div class="row align-items-center p-lg-3">
                <div class="container">
                    <form method="post" style="padding-top: 3rem;padding-bottom:3rem;">
                        {% csrf_token %}
                        <div class='container'>
                            <div class="form-row">
                                <div class="form-group col-md-6 mb-0">
                                  {{ form.first_name|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-6 mb-0">
                                  {{ form.last_name|as_crispy_field }}
                                </div>
                            </div>
                            {{ form.username|as_crispy_field }}
                            {{ form.email|as_crispy_field }}
                            {{ form.password1|as_crispy_field }}
                            {{ form.password2|as_crispy_field }}
                            <div class="text-center">
                              <button class="btn btn-info btn-lg " type="submit" style = 'font-family:Roboto;'>Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </section>
{% endblock content %}