.vscode
.env
db.sqlite3
**/*.pyc
**/__pycache__

**/migrations/*
!**/migrations/__init__.py
media/posts_image/*
media/profile_pics/*
media/django-summernote/*
!media/posts_image/.gitkeep
!media/django-summernote/.gitkeep
!media/profile_pics/.gitkeep
media/_versions
media/*.jpg
!media/default.jpg
media/*.png
media/*.jpeg

Pipfile
Pipfile.lock
.DS_Store

**/.vscode-test/**
**/.vscode test/**
**/.vscode-smoke/**
**/.venv*/
tmp/**
.python-version
