{% extends 'base.html' %}

{% block title %} Authors {% endblock title %}

{% block content %}
  {% for author_user, posts_count, comments_count  in authors %}
  <div class="container py-3">
    <div class="row" style="box-shadow: 0px 2px 20px 1px #87dcd469;margin-top: 15px;">
      <div class="col-lg-12">
        <div class="mb-2 mt-3">
          <div class="row">
            <div class="col-lg-4">
              <div class="card-body">
                <img class='img-fluid w-60 d-block m-auto'
                  style='height:210px;box-shadow: 1px 6px 18px 5px #b0eae4cc;border-radius: 45%;'
                  src="{{author_user.profile.image.url}}" />
              </div>
            </div>
            <div class="col-lg-8">
              <div class="mb-2 mt-2 text-center">
                <h2 class="text-primary text-uppercase" style="font-family:fantasy;">
                  {{author_user.first_name}} {{author_user.last_name}}
                </h2>
                <i class='text-muted mt-0'>@{{author_user.username}}</i>
                <hr>
                    <h5>
                    <span class="text-primary mr-5"><strong> {{posts_count}} Posts </strong></span>
                    <span class="text-info text-small">{{comments_count}} Comments</span> 
                    </h5>
                <hr>
                <h3 class='mt-lg-2 my-sm-4 pt-4'>
                <a href={% url 'user_posts' username=author_user.username %} class='btn btn-outline-info btn-md'> View Posts</a>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}