{% extends 'base.html' %}

{% block title %} Admin Dashboard{% endblock title %}

{% block content %}
<body class="bg-light">
    <div class="container-fluid">
    <div class="row">
    {% include 'admin_dashboard/admin_sidebar.html' %}
      
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <input id='myInput' class="form-control form-control w-100" type="text" placeholder="Search"
                aria-label="Search">
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              This week
            </button>
          </div>
        </div>
    </main>

    <main role="main" class="container">
          <div class="row" id='main-area'>
            <div class="col-lg-12 p-0">
              <div class="my-3 p-3 bg-white rounded box-shadow">
                <h6 class="border-bottom border-gray pb-2 mb-0">Blog Posts</h6>
                {% for post in posts %}
                <div class="media text-muted pt-3">
                  <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray mr-5">
                    <strong class="d-block text-gray-dark">{{ post.title|truncatechars:90 }}</strong>
                    {{ post.content|truncatechars:120|striptags }}
                  </p>
                  <a href="#">Update</a>
                </div>
                {% endfor %}
                <small class="d-block text-right mt-3">
                  <a href="#">All Posts</a>
                </small>
              </div>
            </div>
        </div>
    </main>
    </div>
  </div>
</body>

{% endblock %}