/*Post img preview */
.picture-container {
    position: relative;
    cursor: pointer;
    text-align: center;
}

.picture {
    width: 100%;
    height: 260px;
    background-color: #40bdac;
    border: 4px solid rgb(67, 201, 149);
    color: #FFFFFF;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.picture:hover {
    border-color: #0bd3c2;
}

.content.ct-wizard-green .picture:hover {
    border-color: #05ae0e;
}

.content.ct-wizard-blue .picture:hover {
    border-color: #3472f7;
}

.content.ct-wizard-orange .picture:hover {
    border-color: #ff9500;
}

.content.ct-wizard-red .picture:hover {
    border-color: #ff3b30;
}

.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src {
    width: 100%;
    height: 300px;


}

.medium-editor-element {
    min-height: 320px;
    border: .8px solid rgb(211, 208, 208);
    padding: 0.8rem;
    font-size: 18px;
    border-radius: 10px;
}

.medium-editor-element:focus {
    border: 1px solid rgb(83, 197, 169);
    outline: none;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
    letter-spacing: -2px;
    border-bottom: 1px solid #dbdbdb;
}


h4 {
    font-size: 24px;
    line-height: 28px;
}

p {
    margin-bottom: 15px;
}

a {
    color: rgb(84, 233, 133);
}

a:hover {
    color: rgb(31, 122, 84);
}

pre {
    font-family: 'Menlo', monospace;
    font-size: 15px;
    background-color: #252b28;
    padding: 10px;
    border: 1px solid rgb(67, 223, 197);
    border-radius: 5px;
    color: rgb(240, 236, 27);
}


blockquote {
    display: block;
    border-left: 4px solid #0ddfb2;
    margin-left: -15px;
    padding-left: 15px;
    font-style: italic;
    color: rgb(101, 102, 102);
}

mark {
    background-color: yellow;
    color: black;
}

#id_title {
    border-radius: 5px;
    font-size: 25px;
}

#id_title:focus {
    border: 1px solid rgb(83, 197, 169);
    outline: none;
}

#id_tags {
    border-radius: 5px;
    font-size: 18px;
}

#id_tags:focus {
    border: 1px solid rgb(83, 197, 169);
    outline: none;
}

#div_id_title label {
    display: none;
}

#div_id_categories label {
    display: none;
}

#id_title::placeholder {
    font-size: 25px;
    opacity: 0.7;
}