{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Add Post{% endblock title %}

{% block content %}
    <div class="">
    <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-1 pt-lg-5 ml-lg-5 pt-sm-3">
        </div>
        <div class="col-md-7 pl-lg-4 pt-lg-5 ml-0 p-sm-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-info">New Post</h4>
                    <hr>
                        <div class="form-group row">
                            <label for="text" class="col-12 col-form-label">Post Title</label>
                            <div class="col-12">
                                {{ form.title|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="textarea" class="col-12 col-form-label">Post Content (Visual Editor)</label>
                            <hr class="mb-2">
                            <div class="col-12">
                                {{ form.content }}
                            </div>
                        </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header bg-light ">
                    <button type="submit" class="btn btn-info btn-block">Publish</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 d-block mx-auto pt-lg-5 p-sm-3">
            <div class="card mb-3">
                <div class="card-header bg-light ">
                    <span class="mr-3">Categories</span>
                   <button type="button" class="badge badge-info ml-5 pl-2" style = 'padding:8px;border:none;outline:none;margin-left:4.2rem !important' data-toggle="modal" data-target="#AddCategoryModal">
                        Add New Category
                    </button>
                    
                </div>
                <div class="card-body">
                        <div class="form-group text-center mt-4">
                            {{form.categories|as_crispy_field}}
                        </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header bg-light ">Tags</div>
                <div class="card-body">
                  
                        <div class="form-group row">
                            <div class="col-12">
                                {{form.tags|as_crispy_field}}
                            </div>
                            <div class="col-12">
                                <small>Seperate Tags with commas ( , )</small>
                            </div>
                        </div>
                </div>

            </div>
            <div class="card mb-3">
                <div class="card-header bg-light ">Featured Image</div>
                <div class="card-body">
                    <div class="picture-container">
                        <div class="picture">
                            <img src="{% static 'img/post_default.jpg' %}" class="picture-src" id="wizardPicturePreview" title="">
                            {{ form.post_thumbnail }}
                        </div>

                        <div class="card-footer bg-light">
                            <span>Set Featured Image</span>
                        </div>

                        <label for="id_image" class=" requiredField">
                    </div>

                    </label>
                </div>

            </div>

        </div>
    </div>
    </form>
</div>
<!-- Add Category Modal -->
  <div class="modal fade" id="AddCategoryModal" tabindex="-1" role="dialog" aria-labelledby="AddCategoryModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="AddCategoryModalTitle">Add Category</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'add_category' %}" method="post">
          {% csrf_token %}
          <div class="modal-body">
              <input type="text" name="category" class="form-control" id="category">
              <input type="hidden" value="add_post_view" name="add_category" />
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">+ Add</button>
        </form>
        </div>
      </div>
    </div>
  </div>
<script>
    document.getElementById("id_title").setAttribute("placeholder", "Enter Title here");
</script>
                                                                       
{% endblock content %}

