{% extends 'base.html' %}

{% block title %} Blog {% endblock title %}

{% block content %}
<!-- Blog Page-->
<section class="py-5">
  <div class="container py-4">
    <div class="row">
      {% if messages %}
          {% for message in messages %}
              <div class="alert alert-success animated flipInX alert-dismissible " role="alert" style='position: fixed;bottom: 18px;left: 25px;width: 20%; box-shadow:2px 3px 15px gray; z-index:1000'>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong> {{message}} </strong> 
              </div>
          {% endfor %}
              <script>
                setTimeout(function(){
                $('.alert' ).addClass("flipOutX");
                setTimeout(function(){
                  $('.alert' ).remove();
                },1000);
              }, 3000);
              </script>
        {% endif %}
      <!--latest post-->
      <div class="col-lg-9 mb-5 mb-lg-0">
        {% include 'blog/post_listing.html' with posts=posts %}
        <!--pagination-->
        <nav aria-label="Page navigation example">
          {% if is_paginated %}
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{num}}</a></li>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{num}}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
      </div>
      <!-- sidebar -->
      <div class="col-lg-3">
        <!-- search Section-->
        <section class='pb-2'>
          <div class="container pb-2">
            <div class="bg-light" style = 'box-shadow: 0px 1px 7px 0px #9cf9f073;border-radius: 5px;'>
                  <form action="{% url 'search' %}">
                    <div class="input-group">
                      <input style = 'border-radius:6px; font-family:roboto;' class="form-control" name ='q' type="search" placeholder="Search"
                        aria-label="email address" aria-describedby="button-addon2">
                    </div>
                  </form>
              </div>
            </div>
        </section>
        {% include 'sidebar.html' with latest_post=latest_post categories=categories tags=tags top3_categories=top3_categories %}
      </div>

    </div>
  </div>
</section>
{% endblock content %}