<div class="row">
    {% for post in posts %}
    <div class="col-lg-6 mb-5">
        <a class="d-block mb-4" href={{post.get_absolute_url}}>
            <img class="img-fluid w-100" src="{{post.post_thumbnail.url}}" alt="" />
        </a>
        <ul class="list-inline">
            <li class="list-inline-item mr-2">
                {% for c in post.categories.all %}
                    {% if forloop.first%}
                        <a class="category-link font-weight-normal" href={{c.get_absolute_url}}>
                            {{ c }}
                        </a>
                    {% endif %}
                {% endfor %}
            </li>
            <li class="list-inline-item mx-2">
                <a class="text-uppercase meta-link font-weight-normal" href="{% url 'user_posts' username=post.author.username %}"> 
                    {{ post.author.first_name }} 
                </a>
            </li>
            <li class="list-inline-item mx-2">
                <p class="text-uppercase meta-link font-weight-normal">
                    {{post.created_on|date:"F d, Y"}}
                </p>
            </li>
        </ul>
        <h2 class="h3 mb-4"> 
            <a class="d-block reset-anchor" href={{post.get_absolute_url}}>
                {{ post.title }}
            </a>
        </h2>
        <p class="text-muted">{{ post.content|striptags|truncatechars:220 }}</p>
        <a class="btn btn-link p-0 read-more-btn" href={{post.get_absolute_url}}>
            <span>Read more</span><i class="fas fa-long-arrow-alt-right"></i>
        </a>
    </div>
    {% endfor %}
</div>