{% extends 'base.html' %}

{% block content %}
    <section class="py-5">
      <div class="container py-4">
        <div class="row text-center">
          <div class="col-lg-10 mx-auto">
            {% for cat in post.categories.all %}
              <a class="category-link mb-3 d-inline-block" href={{cat.get_absolute_url}}>{{cat}}</a>
            {% endfor %}
            <h1>{{post.title}}</h1>
            <ul class="list-inline mb-5">
              <li class="list-inline-item mx-2">
                  <a class="text-uppercase text-muted reset-anchor" href="{% url 'user_posts' username=post.author.username %}">
                    BY {{post.author.first_name}}
                  </a>
              </li>
              <li class="list-inline-item mx-2">
                  <a class="text-uppercase text-muted reset-anchor" href="#">
                    {{post.created_on|date:"F d, Y"}}
                  </a>
              </li>
              {% if post.author == user or user.is_superuser %}
                <li class="list-inline-item mx-2">
                    <a class="text-uppercase text-muted reset-anchor" href="{% url 'update_post' pk=post.pk %}">
                      🖌Update
                    </a>
                </li>
                <li class="list-inline-item mx-2">
                    <a class="text-uppercase text-muted reset-anchor" data-toggle="modal" data-target="#exampleModal" href="#"> 
                      🗑 Delete
                     </a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
        <img class="w-100 mb-5" src="{{post.post_thumbnail.url}}" alt="...">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <p class="mb-4 drop-caps">{{post.content|safe}}</p>
            <!-- Post tags-->
            <div class="d-flex align-items-center flex-column flex-sm-row mb-4 p-4 bg-light">
              <h3 class="h4 mb-3 mb-sm-0">Tags</h3>
              <ul class="list-inline mb-0 ml-0 ml-sm-3">
                {% for tag in tags %}
                    <li class="list-inline-item my-1 mr-2"><a class="sidebar-tag-link" href={% url 'tag_posts' tag=tag %}>{{ tag }}</a></li>
                {% endfor %}
              </ul>
            </div>

            <!-- Leave comment
            <h3 class="h4 mb-4">Leave a comment</h3>
            <form class="mb-5" action="#">
              <div class="row">
                <div class="form-group col-lg-6">
                  <input class="form-control" type="text" name="name" placeholder="Full Name e.g. Jason Doe">
                </div>
                <div class="form-group col-lg-6">
                  <input class="form-control" type="email" name="email" placeholder="Email Address e.g. Jason@email.com">
                </div>
                <div class="form-group col-lg-12">
                  <textarea class="form-control" name="message" rows="5" placeholder="Leave your message"></textarea>
                </div>
                <div class="form-group col-lg-12">
                  <button class="btn btn-primary" type="submit">Submit your comment</button>
                </div>
              </div>
            </form> -->
            <!-- Post comments -->
            <h3 class="h4 mb-4">Comments {{post.get_comments_count}} </h3>
            <form action="{% url 'add_comment' pk=post.pk%}" method="post" class = 'mx-4  pr-5'>
                {% csrf_token %}
                <b>Add comment: </b><textarea type="textarea" name='post-comment' placeholder='Comment to the post' class= 'mr-5 my-2 form-control'></textarea>
                <button type='submit' style='float:right'>comment</button>
            </form>
            <ul class="list-unstyled comments mt-4">
              {% for comment  in post.get_all_comments %}
              <li>
                <div class="media mb-4"><img class="rounded-circle shadow-sm img-fluid" src="{{comment.author.profile.image.url}}" alt="" width="60">
                  <div class="media-body ml-3">
                    <p class="small mb-0 text-primary">{{comment.comment_time}}
                      {% if request.user == comment.author or request.user.is_superuser or request.user == post.author %}
                      <form action="{% url 'delete_comment' ppk=post.pk cpk=comment.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit">🗑</button>
                      </form>
                      {% endif %}
                    </p>
                    <h5>{{ comment.author.first_name }} {{ comment.author.last_name }} </h5>
                    <p class="text-muted text-small mb-2">{{ comment.comment_content }}</p>
                    <a class="reset-anchor text-small" data-toggle="collapse" href="#collapseExample-{{comment.pk}}" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-share mr-2 text-primary"></i><strong>Reply</strong></a>
                    <div class="collapse" id="collapseExample-{{comment.pk}}">
                      <form action="{% url 'reply_comment' ppk=post.pk cpk=comment.pk %}" method="post" class='mr-5 pr-5'>
                            {% csrf_token %}
                            <input class = 'form-control mr-5' name='reply_content' type="text" placeholder='Reply to the comment'>
                      </form>
                    </div>
                  </div>
                </div>
                <ul class="list-unstyled ml-5">
                  {% for reply in comment.get_all_reply %}
                  <li> 
                    <div class="media mb-4"><img class="rounded-circle shadow-sm img-fluid" src="{{reply.author.profile.image.url}}" alt="" width="60">
                      <div class="media-body ml-3">
                        <p class="small mb-0 text-primary">{{reply.reply_time}}
                          {% if request.user == reply.author or request.user.is_superuser or request.user == post.author %}
                          <form action="{% url 'delete_reply' ppk=post.pk cpk=comment.pk rpk=reply.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit">🗑</button>
                          </form>
                          {% endif %}  
                        </p>
                        <h5>{{ reply.author.first_name }} {{ reply.author.last_name }}</h5>
                        <p class="text-muted text-small mb-2">{{reply.reply_content}}</p>
                        <a class="reset-anchor text-small" data-toggle="collapse" href="#collapseExample-{{reply.pk}}" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-share mr-2 text-primary"></i><strong>Reply</strong></a>
                        <div class="collapse" id="collapseExample-{{reply.pk}}">
                          <form action="{% url 'reply_comment' ppk=post.pk cpk=comment.pk %}" method="post" class='mr-5 pr-5'>
                                {% csrf_token %}
                                <input class = 'form-control mr-5' name='reply_content' type="text" placeholder='Reply to the comment'>
                          </form>
                        </div>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>

          </div>
          <div class="col-lg-1"></div>
        </div>
      </div>
    </section>
  <!-- Post Delete Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Hey !</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action={% url 'delete_post' pk=post.pk %} method="post">
          {% csrf_token %}
          <div class="modal-body">
            Are you sure you want to delete ?
          </div>
          <div class="modal-footer">
            <a class="btn btn-secondary" data-dismiss="modal">Cancle</a>
            <button type="submit" class="btn btn-primary">confirm</button>
          </div>
        </form>
       </div>
    </div>
  </div>
  <!-- end Modal -->

{% endblock content %}