{% load static %}
<!-- sidebar author widget used in detail post view -->
<div class="card rounded-0 border-0 bg-light mb-4 py-lg-4">

    <div class="card-body text-center">
        <h2 class="h3 mb-3">About Author</h2>
        <img class="rounded-circle mb-3" src={% static 'img/author.jpg' %} alt="..." width="100">
        <p class="text-small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
        <ul class="list-inline small mb-0 text-dark">
            <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
    </div>

</div>